body{
background: rgb(0, 19, 45);
color: white;
background-image: url(img.png);
background-attachment: fixed; 
background-position:120px 10px;
text-align: center;
}
a{
color: white;
}
mark{
    background-color: rgba(0, 187, 255, 0.185);
}
